/* Estilos personalizados */
.button-style {
    position: relative;
    outline: none;
    text-decoration: none;
    /* border-radius: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 210px;
    opacity: 1;
    background-color: transparent;
    border: 1px solid rgba(22, 76, 167, 0.6);
    margin-bottom: 10px; /* Añadir margen para la separación entre botones */
}

.button-style span {
    color: rgba(22, 76, 167, 1);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.button-style:hover {
    border: 2px solid rgba(251, 191, 36, 1);
    animation: rotate 0.7s ease-in-out both;
}

.button-style:hover span {
    color: rgba(251, 191, 36, 1);
    font:bold;
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

/* Añadir las animaciones */
@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

/* Estilo para la disposición centrada */
.links-container {
    display: flex;
    justify-content: center; /* Centrar los botones */
    gap: 20px; /* Espaciado entre botones */
    flex-wrap: wrap; /* Permitir que los botones se muevan a la siguiente línea si es necesario */
    max-width: 450px; /* Controlar el ancho máximo */
    margin: 0 auto; /* Centrar el contenedor */
}

/* Estilo para cuando hay solo un botón */
.links-container.single {
    justify-content: center; /* Un solo botón en el centro */
}
