<header class="flex justify items-center p-4 shadow-2xl bg-blue-200">
  <img
    src="https://avatars.githubusercontent.com/u/168908236?v=4"
    alt="Foto de Perfil"
    class="flex w-16 h-16 rounded-full"
  />
  <nav class="flex-auto">
    <div class="flex justify-around">
      <a href="#">Home</a>
      <div class="dropdown">
        <a>Proyectos</a>
        <div class="hidden hover:flex">
          <a href="#">Productos</a>
          <a href="#">Herramientas</a>
          <a href="#">Putas y Cocaina</a>
        </div>
      </div>
      <a href="#">Sobre Mi</a>
    </div>
  </nav>
</header>
