---
import MenuSection from "./MenuSection.astro";
---

<astro>
  <header class="flex justify-between mx-72 h-auto bg-blend-darken bg-gray-800 shadow-lg rounded-2xl">


    <img src="https://avatars.githubusercontent.com/u/168908236?v=4" alt="Foto Perfil" 
    class="flex my-auto ml-8 w-14 rounded-full justify-start" >

    <nav class="flex justify-evenly items-end">
      <MenuSection href="#" icon="far fa-home" text="Home"/>
      <MenuSection href="#" icon="far fa-compass" text="Projects"/>
      <MenuSection href="#" icon="far fa-search" text="Tools"/>
      <MenuSection href="#" icon="far fa-cog" text="About me"/>
    </nav>
  </header>

  <style></style>
</astro>