---
import IconCarousel from "./IconCarousel.astro"
---

<astro>
  <div
    class="mx-auto z-50 grid grid-flow-col grid-rows-6 sm:grid-rows-3 md:grid-rows-2 lg:grid-rows-1"
  >
  <IconCarousel alt="HTML Logo" src="src/assets/html.svg" ></IconCarousel>
  <IconCarousel alt="CSS Logo" src="src/assets/css.svg" ></IconCarousel>
  <IconCarousel alt="JS Logo" src="src/assets/js.svg" ></IconCarousel>
  <IconCarousel alt="Python Logo" src="src/assets/python.svg" ></IconCarousel>
  <IconCarousel alt="Swift Logo" src="src/assets/swift.svg" ></IconCarousel>
  <IconCarousel alt="React Logo" src="src/assets/react.svg" ></IconCarousel>
  <IconCarousel alt="Django Logo" src="src/assets/django.svg" ></IconCarousel>
  <IconCarousel alt="Angular Logo" src="src/assets/angular.svg" ></IconCarousel>
  <IconCarousel alt="Java Logo" src="src/assets/java.svg" ></IconCarousel>
  <IconCarousel alt="PHP Logo" src="src/assets/php.svg" ></IconCarousel>
  <IconCarousel alt="MySQL Logo" src="sql/assets/mysql.svg" ></IconCarousel>
  <IconCarousel alt="Linux Logo" src="src/assets/linux.svg" ></IconCarousel>
  <IconCarousel alt="Nginx Logo" src="src/assets/nginx.svg" ></IconCarousel>
  <IconCarousel alt="XLS Logo" src="src/assets/xls.svg" ></IconCarousel>
  <IconCarousel alt="XML Logo" src="src/assets/xml.svg" ></IconCarousel>
  </div>
</astro>
