---
interface Props {
  title: string;
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="h-screen w-screen bg-slate-900">
    <div class=" absolute inset-0 z-0 bottom-0 left-[-20%] right-0 top-[-10%] h-auto w-auto bg-[radial-gradient(farthest-side,rgba(0,0,255,.1),rgba(255,255,255,0))]">
    </div>
    <div class="inset-0 z-30">
      <slot />
    </div>
  </body>
</html>

<style>
  body {
  }
</style>
