---
interface Props {
  title: string;
}
import Header from "../components/Header/Header.astro";
import SideMenu from "../components/SideMenu/SideMenu.jsx";
import Translator from "../components/Translator/Translator.jsx";
---

<!doctype html>
<html lang="es" class="scrollbar-hide">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="bg-gradient-to-t from-slate-950 via-blue-950 to-cyan-900 bg-fixed tracking-tighter leading-none max-h-screen"
  >
    <Translator client:load/>
    <Header />

    <div class="flex justify-between h-screen">
      <!-- SideMenu para móviles -->
      <SideMenu client:load />
      <!-- Columna izquierda -->
      <div class="w-auto sm:hidden"></div>
      <!-- Columna del medio (grande) -->
      <div class="w-11/12 sm:w-full sm:ml-1">
        <slot />
      </div>
      <!-- Columna derecha -->
      <div class="w-auto sm:hidden"></div>
    </div>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");
  body {
    font-family: "Poppins", sans-serif;
    word-spacing: 0.01rem;
  }
</style>
