---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---


<Layout title="Illo que">
  <Header />
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
  <Card title="illo que " body=" " href="#"> <p> adasd </p></Card>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");
  body {
    font-family: "Onest Variable", sans-serif;
  }
</style>
