---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Utils/Font/Title.astro";
import ProjectList from "../components/Project/ProjectList.astro";
import { projects } from '../data/projects';
---

<Layout title="Proyectos">

  <main>
    <Title title="Proyectos" />
    <ProjectList projects={projects} />
  </main>

</Layout>
