---
interface Props {
  title: string;
  logo?: string; // Parámetro opcional para el logo
}

const { title, logo } = Astro.props;
---

<h1 class="text-4xl text-left font-extrabold tracking-tight text-gray-900 dark:text-white flex items-center">
  {/* Mostrar el logo solo si existe */}
  {logo && <img src={logo} alt={`${title} logo`} class="ml-2 mr-4 h-8 w-auto"/>}
  {title}
</h1>
