---
interface Props {
  alt: string;
  src: string;
}

var {alt, src} = Astro.props;
---


<astro>
  <div class="z-0 items-center justify-center sm:w-16 md:w-20 lg:w-28 xl:w-28 sm:mx-4 md:mx-8 lg:mx-12 xl:mx-16 carousel-item">
      <img
      alt={alt}
      fetchpriority="high"
      width="150"
      height="75"
      decoding="async"
      data-nimg="1"
      class="items-center z-0 sm:mx-2 md:mx-8 lg:mx-12 xl:mx-16 inline scale-90 ease-in-out duration-300 transform hover:scale-100"
      style="color:transparent;"
      draggable="false"
      src={src}
    />
  </div>


<style>
    .carousel-item {
      flex: 0 0 auto;
      margin-right: 10px;
      opacity: 1;
    }
    

</style>
</astro>