---
interface Props {
  alt: string;
  src: string;
}

var {alt, src} = Astro.props;
---


<astro>
  <div class="z-0 flex items-center justify-center sm:w-16 md:w-36 lg:w-44 xl:w-52 carousel-item">
      <img
      alt={alt}
      fetchpriority="high"
      width="150"
      height="75"
      decoding="async"
      data-nimg="1"
      class="z-0 sm:mx-2 md:mx-8 lg:mx-12 xl:mx-16 inline"
      style="color:transparent;"
      src={src}
      draggable="false"
    />
  </div>


<style>
    .carousel-item {
      flex: 0 0 auto;
      margin-right: 10px;
      opacity: 1;
    }

</style>
</astro>