---
import TechCarousel from "../Utils/Carousel/TechCarousel.astro";
import ContactButtons from "../Utils/Link/ContactButtons.jsx";
---

<astro>
  <section
    class="hero-section text-shadow sm:-mt-10 md:mt-10 lg:mt-20 mb-24 mx-6 md:mx-[10%]"
  >
    <div class="py-8 w-full lg:py-8">
      <h1
        class="mb-6 lg:mb-10 text-left font-extrabold tracking-tight text-gray-900 sm:text-2xl md:text-4xl lg:text-6xl dark:text-white"
      >
        <span class="text-amber-400">Desarrollador</span> Full-Stack
      </h1>
      <p
        class="z-0 mb-2 ml-[1%] sm:text-xs md:text-base lg:text-lg xl:text-xl text-right font-normal text-gray-500 dark:text-gray-400 sm:ml-0 sm:text-right"
      >
        Hey! Soy <span class="text-amber-400">Lucas Moreno</span>, un
        Desarrollador Web <span class="text-gray-200">versátil</span> con una sólida
        base en diversas <span class="text-gray-200">tecnologías</span>
      </p>
      <p
        class="z-0 mb-8 text-right font-normal sm:text-xs md:text-base lg:text-lg xl:text-xl text-gray-500 dark:text-gray-400 sm:text-right"
      >
        <span class="text-amber-400">Cádiz</span>, España
      </p>
      <div
        class="z-0 mx-1 mt-16 sm:mt-12 md:max-w-screen-md lg:max-w-screen-lg"
      >
        <span
          class="text-left text-balance font-semibold sm:text-sm md:text-base md:font-semibold uppercase tracking-wide text-[#666666] dark:text-[#888888]"
        >
          Contacto
        </span>
        <!-- Contacto -->
        <div
          class="z-0 sm:mx-1 md:mx-3 flex flex-wrap items-center space-x-8 mt-4 text-gray-500"
        >
          <ContactButtons client:load />
        </div>
      </div>

      <!-- Ajustar el ancho del TechCarousel -->
      
    </div>    
  </section>
  
  <p
  class="mb-4 sm:mt-24 md:mt-32 lg:mt-24 xl:mt-12 text-center text-balance sm:text-sm md:text-base font-semibold uppercase tracking-wide text-[#666666] dark:text-[#888888] md:!mb-4"
  >
  Tecnologías
  </p>

<!-- Tecnologías -->
<TechCarousel/>
  


</astro>

<style>
  .ladosTransparentes {
    mask-image: linear-gradient(to right, transparent, white, transparent);
  }
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra al texto */
  }
</style>
