---
export interface Props {
    link: string;
}

const { link } = Astro.props;
---

<astro>
    <a
        href={link}
        class="my-8 mx-8 grid grid-cols-10 gap-4 rounded overflow-hidden hover:shadow-gray-600 hover:shadow-lg bg-slate-100">
        <slot />
    </a>
</astro>
