<astro>
    <div class="sm:my-2 sm:mx-2 md:my-3 md:mx-3 lg:my-4 lg:mx-4 xl:my-8 xl:mx-8 2xl:my-16 2xl:mx-16 sm:px-4 md:px-6 lg:px-6 xl:px-6 2xl:px-8 grid grid-cols-2 gap-4 rounded overflow-hidden bg-gray-100">
        <slot/>
    </div>
</astro>

