---
export interface Props {
    link: string;
}

const { link } = Astro.props;
---

<astro>
    <a
        href={link}
        class="my-8 mx-8 pt-1.5 grid grid-cols-2 gap-4 rounded overflow-hidden hover:shadow-gray-500 hover:shadow-lg bg-white"
    >
        <slot />
    </a>
</astro>
